.wiggle {
	background: url('../images/wiggle.png') no-repeat left;
  	height: 8px;
  	background-size: contain;
  	width: 48px;
}
.results-title {
	color: #000;
	font-size: 30px;
}
.results-container {
	margin-top: 36px;
}
.result-item {
	background-color: #dcdcdc;
	padding: 20px 25px;
	margin-bottom: 3px;
}
.result-item:hover {
	background-color: #00a5d2;
	transition: linear 0.3s;
	-webkit-transition: linear 0.3s;
	-moz-transition: linear 0.3s;
}
.result-image{
	float: left;
  	width: 145px;
  	margin-right: 40px;
}
.result-pagination {
  	margin-top: 50px;
}
.result-pagination a {
  	margin-left: 15px;
  	color: #9b9b9b;
}
.organization-name {
	margin: 0;
}

