/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #646464;
}

a {
    text-decoration: none;
    color: #646464;
}

input, textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: none;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* universal */

.relative{ position: relative; }
.textCenter { text-align: center; }
.uppercase { text-transform: uppercase; }
.over { overflow: hidden; }
.fLeft { float: left; }
.fRight { float: right; }
.borderGray { border: 1px solid #e5e5e5; }
.inline-block{ display: inline-block; }
.align-middle{ vertical-align: middle;}

/* backgrounds */
.maroonBG { background-color: #7e2609; }
.grayBG { background-color: #dcdcdc; }
.blueBg { background-color: #00a5d2; }
.bgWhite { background-color: #fff; }

.lhDef {
    line-height: 22px;
}

/* fonts */
.f22 { font-size: 22px; }
.f20 { font-size: 20px; }
.f16 { font-size: 16px; }
.f15 { font-size: 15px; }
.f14 { font-size: 14px; }
.f11 { font-size: 11px; }
.normal {font-weight: normal; }
.bold { font-weight: 700; }
.semiBold { font-weight: 600; }
.boldItalic { font-weight: 700; font-style: italic; }


/* color */
.white { color: #ffffff; }
.black { color: #000; }
.blue { color: #0088c6; }
.yellow { color: #fcb516; }
.green { color: #8dc740; }
.gray { color: #646464; }
.pagiColor { color: #9b9b9b; }


/*  */
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px; 
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* body */
.wrapper{
    width: 100%;
}

.inner{
    width: 1170px;
    margin: 0px auto;
}


header{
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 9999;
}

header .pad{
    padding: 20px 0px 30px;
}

.logo{
    width: 270px;
    height: 80px;
    background: url('../images/logo.png') no-repeat;
    text-indent: -99999px;
    float: left;
}

.menu{
    float: right;
}

.menu a{
    float: left;
    font-weight: 800;
    font-size: 15px;
    padding: 30px 20px 0px;
}

.menu .norm{
    float: left;
    padding: 30px 20px 0px;
}

.menu .norm a{
    padding: 0px;
    font-size: 14px;
}

.sns{
    float: left;
    padding: 30px 5px 0px 20px;
}

.sns a{
    padding: 0px 5px;
    font-size: 14px;
}

.menu .norm a:first-child{
    padding-right: 5px;
    border-right: 2px solid #646464;
    margin-right: 5px;
}

.adb{
    float: left;
    background: url('../images/adb-logo.png') no-repeat center;
    width: 55px;
    height: 55px;
    padding: 0px !important;
    margin-left: 10px;
    margin-top: 12px;
}


/* content */
.bgHead{
    background: url('../images/header-bottom.png');
    width: 100%;
    height: 14px;

}

.padHead{
    padding-top: 130px;
}

.banner-home{
    width: 100%;
    height: 310px;
    background: url('../images/banner.jpg') no-repeat;
    background-size: cover;
}


section .pad{
    padding: 40px 0px;
}

.org .pad{
    padding: 40px 70px !important;
}

.banner-org{
    background-color: #00a5d2;
    height: 175px;
}

.banner-org .inner{
    position: relative;
}

.banner-org h2{
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 5px;
    padding-top: 70px;
}

.wiggle-white{
    background: url('../images/wiggle-white.png');
    width: 62px;
    height: 9px;
    margin-top: 15px;
}

.banner-org .date{
    color: #007190;
    font-weight: 600;
    font-size: 18px;
}

.banner-logo{
    position: absolute;
    width: 203px;
    height: 203px;
    bottom: -140px;
    right: 70px;
    -webkit-box-shadow: 0px 7px 13px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 13px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 13px -6px rgba(0,0,0,0.75);
}

.left{
    float: left;
    width: 730px;
}

.right{
    float: right;
    width: 203px;
}

.rounded-box{
    border-radius: 15px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border: 1px solid #CACACA;
}

.buttons{
    padding: 30px 0px;
}

.buttons a{
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border: 1px solid #CACACA;
    display: inline-block;
    font-size: 18px;
    padding: 5px 41px;
    color: #343636;
    margin-right: 15px;
}

.buttons a:last-child{
    margin-right: 0px;
}

.padNe{
    padding: 30px;
}

.inner table{
    width: 100%;
    border: 1px solid #c2c2c2;
    font-size: 18px;
    font-weight: 700;
}

.inner table td{
    padding: 5px 0px;
    text-align: center;
}


.inner p{
    font-size: 16px;
    line-height: 32px;
    color: #343636;
}

.content-title{
    font-size: 25px !important;
    color: #343636;
    letter-spacing: 3px;
    padding-top: 30px;
}

.right ul{
    padding-top: 100px;
}

.right li{
    padding: 20px 0px;
    border-bottom: 1px solid #adadad;
    font-size: 16px;
    color: #343636;
}

.right li .fa-facebook{
    padding: 0px 7px 0px 8px;
}
.right li .fa-twitter{
    padding: 0px 5px;
}

.right li a{
    color: #343636;
}

.download{
    float: left;
    width: 60px;
    height: 48px;
    background: url('../images/download-icon.png') no-repeat;
}

.downloadTxt{
    padding-top: 10px;
    display: block;
}

/* Home Menus */
.menus .main-menu {
    display: flex;
    margin-bottom: 30px;
}
.menus ul {
    list-style-type: none;
    padding: 0;
}
.menus .main-menu .main-menu-item {
    flex: auto;
    margin-left: 12px;
    margin-right: 12px;
    padding: 14px;
    width: 205px;
    outline: 0;
    background: url('../images/dropdown.png') no-repeat center;
    -webkit-appearance: none;
    text-decoration: none;
    border: 0;
    position: relative;
}
.menus .sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 14px;
    padding-right: 14px;
    display: none;
}

.sub-menu.country{
    background-color: #fcb417;
    color: #fff;
}
.sub-menu.focus-area{
    background-color: #00a5d1;
    color: #fff;
}
.sub-menu.country li,
.sub-menu.focus-area li,
.sub-menu.sector li {
    border-bottom: 1px #fff solid;
}
.sub-menu.projects li {
    border: 1px #d3d3d3 solid;
    padding: 10px 14px;
}
.sub-menu.country li{
    padding: 10px 14px;
}
.sub-menu.projects,
.sub-menu.country,
.sub-menu.value {
    padding: 0;
}
.sub-menu.projects,
.sub-menu.value {
    background-color: #fff;
}
.sub-menu.value li  {
    border: 1px #d3d3d3 solid;
    padding: 24px 14px;
}
.value-label {
    margin-bottom: 30px;
    margin-top: 5px;
}
.sub-menu.term{
    background-color: #8dc740;
    color: #fff;
    padding: 12px 24px;
}
.sub-menu.term select {
  width: 100%;
  padding: 3px;
  color: #646464;
  border: 1px #c1c1c1 solid;
}
.sub-menu.sector{
    background-color: #ef3835;
    color: #fff;
}
.sub-menu li {
    padding-top: 14px;
    padding-bottom: 14px;
}
/* Jquery Slider */
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-handle {
    border-radius: 10px;
    background-color: #0088c6;
    position: absolute;
    z-index: 2;
    width: 0.8em;
    height: 0.8em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    outline: none;
}
.ui-corner-all {
}
.ui-widget-content {
    background-color: #ebebeb;
}
.ui-slider-horizontal {
    height: .3em;
}
.ui-slider-range {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-widget-header {
  background: #0088c6;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #0088c6;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.4em;
}

.results{
    overflow: hidden;
    margin-bottom: 60px;
}

.result-title{
    color: #000;
    font-size: 30px;
    font-weight: 700;
}


.wiggle-black{
    background: url('../images/wiggle-black.png');
    width: 66px;
    height:13px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.result-container{

}

.result-list{
    margin-bottom: 2px;
    padding: 20px 30px;
    background-color: #dcdcdc;
    overflow: hidden;
}

.result-list:hover{
    background-color: #fdb516;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    color: #fff;
}

.organization .result-list:hover{
    background-color: #fdb516;
}

.result-list:hover a{
    color: #fff;
}

.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media .img {
  float: left;
  margin-right: 50px; 
}

.stack .img {
  float: none;
  display: block;
  margin-right: 0;
  margin-bottom: 15px; }

.media .img img {
  display: block; 
}

.org-name{
    font-size: 22px;
    font-weight: 700;
}

.result-pagination {
    margin-top: 50px;
}
.result-pagination a {
    margin-left: 15px;
    color: #9b9b9b;
}

/* Registration */
.registration .pad{
    padding: 60px 0px;
}

.tabs{
    overflow: hidden;
}

.tabs a{
    float: left;
    display: block;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    color: #585858;
    background-color: #ebebeb;
}

.tabs a.sel, .tabs a:hover{
    background-color: #00a5d2;
    color: #fff;
}

.regs{
    padding: 20px 0px;
    overflow: hidden;
}

.regs label{
    width: 190px;
    font-size: 14px;
    padding-right: 10px;
    color: #191919;
    text-align: right;
    display: inline-block;
}

.regs input[type="text"],
.regs input[type="password"],
.regs textarea {
    border: 1px solid #bfbfbf;
    padding: 3px;
}

.rcol-wide, .rcol-half, .rcol-thrd{
    margin-bottom: 25px;
}

.rcol-wide{
    width: 1170px;
    float: left;
}

.rcol-half{
    width: 585px;
    float: left;
}

.rcol-half label{
    /*width: 190px;*/
    /*padding-right: 10px;*/
}

.rcol-half .txt-half{
    width: 330px;
}

.rcol-thrd{
    /*width: 390px;*/
    float: left;
}

.rcol-thrd label{
    width: 135px;
    padding-right: 10px;
}

.rcol-thrd label.first{
    width: 190px;
}

.rcol-thrd label.second{
    width: 80px;
}

.rcol-thrd .txt-thrd{
    /*width: 214px;*/
}

.rcol-thrd .txt-thrd.first{
    width: 170px;
}

.contact-section {
    margin-top: 50px;
    float:  left;
}

.txt-large {
    width: 330px;
}

.txt-medium {
    width: 200px;
}

.txt-small {
    width: 170px;
}

.txt-area-full {
    width: 915px;
    height: 120px;
}

.btn-submit {
    float: right;
    margin-right: 45px;
    background-color: #00a5d2;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    line-height: 14px;
    border-radius: 2px;
}

/* footer */
footer{
    border-top: 1px solid #adadad;
}

.footer .pad{
    padding: 40px 0px 30px;
}

.footer .norm{
    float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
