/*$instagram-logo: "../images/instagram-logo.png";*/

.widget-instagram {
	.widget-content {
		@include clearfix;
		margin-top: 20px;
		a {
			float: left;
		}
	}
	.widget-label {
		@extend .font-secondary;
		@extend .font-thin;
	}

	.instagram-logo {
		display: inline-block;
/*		background-image: url($instagram-logo);
	    width: image-width($instagram-logo);
	    height: image-height($instagram-logo);*/
	}
}

#widget-container {
	ul {
		background-color: #000;
	}
}