.widget-events {
	.widget-content {
		.card, a.view-more {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.card:nth-child(1n) .event-day {
			background-color: $eventBackgroundColor1;
		}

		.card:nth-child(2n) .event-day {
			background-color: $eventBackgroundColor2;
		}

		.card:nth-child(3n) .event-day {
			background-color: $eventBackgroundColor3;
		}

		.card:nth-child(4n) .event-day {
			background-color: $eventBackgroundColor4;
		}

		.card:nth-child(5n) .event-day {
			background-color: $eventBackgroundColor5;
		}
	}

	a.view-more {
		@extend .font-italic;
		display: block;
		text-align: center;
	}

	
}
