.footer{
	@extend %overflowMedia;
	background-color: $black;
	color: $white;
	padding-top: 70px;
	padding-bottom: 70px;

	.copyright{
		@extend .left;

		 margin-right: 130px;

	}

	.menu{
		@extend .left;

		.item {
			padding-left: 16px;
			padding-right: 16px;
			border-left: 1px $white solid;
		}

		.item:first-child{
			border-left: none;
		}
	}
}