.header {

	.menu-top{
		background-color: $black;
		color: $white;
		
		.item {
			border-right: 2px #222 solid;
			padding: 10px 28px;
			margin-top: 6px;
			margin-bottom: 6px;
		}

		.item:first-child {
			border-right: none;
		}
	}

	.main-menu {
		@extend %overflowMedia;
		background-color: #1b1b1b;
		color: $white;
		border-bottom: 2px $yellow solid;
		
		.logo {
			@extend .left;
			width: 295px;
			height: 50px;
			padding-top: 14px;
    		padding-bottom: 14px;
    		margin-right: 21px;
		}

		.menu{
			@extend .left;
	
			.item{
				padding-top: 32px;
				padding-bottom: 32px;
				padding-left: 30px;
				padding-right: 30px;
				@extend .relative;

				.sub-menu{
					@extend .fixed;
					left: 0;
					margin-top: 30px;
					background-color: #1b1b1b;

					li {
						padding: 15px 20px;
						border-top: 1px $white solid;
					}

					li:first-child{
						border-top: none;
					}
				}
			}

			.item:last-child{
				margin-right: 0;
			}
		}
	}
}