.home {
	
	.slider-home{
		background-color: #e8e7e6;
		height: 500px;
	}
	.opportunity-wrapper{
		background-color: $black;
		color: $white;
		padding-top: 50px;
		padding-bottom: 50px;
		
		.small-line{
			background-color: $white;
		}
	}

	.products-wrapper{
		padding-top: 50px;
		padding-bottom: 60px;

		.small-line{
			background-color: $black;
		}

		.images-container{
			@extend .inline-container;

			.product-image{
				@extend .left;
				@extend .align-center;
				background-color: $black;
				color: $white;
				font-size: 25px;
				width: 285px;
				height: 210px;
				line-height: 210px;
				margin-right: 55px;
			}

			.product-image:last-child{
				margin-right: 0;
			}
		}
	}

	.vision-wrapper{
		background-color: #e1e1e1;
		color: #222;
		padding-top: 50px;
		padding-bottom: 50px;
		
		.content-left{
			width: 280px;
			height: 248px;
			background-color: $black;
		}

		.content-right{
			width: 675px;
			margin-left: 45px;

			.content{
				margin-top: 40px;
			}
		}
	}

	.content {
		line-height: 26px;
	}

	.label {
		font-size: 30px;
	}

	.small-line{
		width: 55px;
		height: 1px;
		margin-top: 20px;
    	margin-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.subscribe{
		margin-top: 50px;

		.join-us-btn{
			background-color: $yellow;
			border-radius: 25px;
			padding: 10px 50px;
			border: none;
			color: $white;
		}
	}
}