.products {

    .products-banner{
        @extend .inline-container;
        background-color: #d9be8f;

        .banner-container{
            @extend .left;
            width: 880px;
            height: 260px;
        }
        .products-section-label {
            @extend .left;
            color: $white;
            margin-top: 88px;
            margin-left: 30px;

            p {
                font-size: 32px;
                line-height: 35px;
                letter-spacing: 10px;
            }

            hr {
                border: none;
                height: 3px;
                background: #fff;
                width: 100px;
                margin: 10px 0;
            }
        }
    }

    .products-wrapper {
        @extend .inline-container;
        padding-top: 88px;
        padding-bottom: 88px;

        .product-item {
            @extend .left;
            margin-left: 20px;
            margin-bottom: 45px;


            .card {
                .figure {
                    width: 225px;
                    height: 250px;
                    background-color: #d7d7d7;
                    cursor: pointer;

                    &:hover{
                        -webkit-transition: 0.8s background-color;
                        -o-transition: 0.8s background-color;
                        transition: 0.8s background-color;
                        background-color: #8c8c8c;

                        span {
                            -webkit-transition: 0.8s display;
                            -o-transition: 0.8s display;
                            transition: 0.8s display;
                            display: block;
                        }
                    }

                    span {
                        text-align: center;
                        display: none;
                        color: #343434;
                        letter-spacing: 5px;
                        font-size: 20px;
                        line-height: 250px;
                    }
                }

                .bd {
                    cursor: pointer;
                }
            }


        }

        /*.product-item:nth-child(4n+4) {
            margin-right: 0;
        }*/
    }

    .slider-home{
        background-color: #e8e7e6;
        height: 500px;
    }
    .opportunity-wrapper{
        background-color: $black;
        color: $white;
        padding-top: 50px;
        padding-bottom: 50px;

        .small-line{
            background-color: $white;
        }
    }

    /*.products-wrapper{
        padding-top: 50px;
        padding-bottom: 60px;

        .small-line{
            background-color: $black;
        }

        .images-container{
            @extend .inline-container;

            .product-image{
                @extend .left;
                @extend .align-center;
                background-color: $black;
                color: $white;
                font-size: 25px;
                width: 285px;
                height: 210px;
                line-height: 210px;
                margin-right: 55px;
            }

            .product-image:last-child{
                margin-right: 0;
            }
        }
    }*/

    .vision-wrapper{
        background-color: #e1e1e1;
        color: #222;
        padding-top: 50px;
        padding-bottom: 50px;

        .content-left{
            width: 280px;
            height: 248px;
            background-color: $black;
        }

        .content-right{
            width: 675px;
            margin-left: 45px;

            .content{
                margin-top: 40px;
            }
        }
    }

    .content {
        line-height: 26px;
    }

    .label {
        font-size: 30px;
    }

    .small-line{
        width: 55px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .subscribe{
        margin-top: 50px;

        .join-us-btn{
            background-color: $yellow;
            border-radius: 25px;
            padding: 10px 50px;
            border: none;
            color: $white;
        }
    }
}