.btn {
	line-height: 2.5em;
	font-family: $fontExtra1;
	padding-left: 24px;
	padding-right: 24px;
	color: $btn-textColor;
	text-transform: uppercase;
	border: none;
}

a.btn {
	display: block;
	&.btn-inline {
		display: inline-block;
	}
}

input.btn {
	border: none;
}

.btn-gray {
	background-color: $btn-backgroundColor;
	&:hover {
		color: $btn-textColor-hover;
		background-color: $btn-backgroundColor-hover;
	}
}

.btn-black {
	background-color: $black;
	&:hover {
		color: $btn-textColor-hover;
		background-color: $btn-backgroundColor-hover;
	}
}

.btn-round {
	@include border-radius(30px);
}

.btn-secondary {
	@extend .font-secondary;
	@extend .font-bold;
	font-size: $btnFontSize-secondary;
}

.btn-wide {
	@extend %boxSizing;
	@extend .align-center;

	width: 100%;
	line-height: 2.8em;
}

input[type=submit].btn {
	line-height: 3em;
	font-size: $btn-submitBtnFontSize;
	cursor: pointer;
	&:hover {
		color: $btn-textColor-hover;
		background-color: $btn-backgroundColor-hover;
	}
}