%oveflowMedia {
	overflow:hidden;
	_overflow:visible;
	zoom:1;
}

.card {
	@extend %oveflowMedia;

	.bd {
		@extend %oveflowMedia;
	}

	.figure {
		@extend %oveflowMedia;
		@extend .relative;

		float:left;
		margin-right: 10px;
		opacity: 1;

		img {
			@include transition-property(opacity);
			@include transition-duration($headlineTransitionDuration);
			display:block;
		}

		> a {
			@extend .inline-block;
			background-color: $feedBackgroundColor;
		}
	}

	.figureExt {
		float:right;
		margin-left: 10px;
	}

}

.stack {

	.figure {
		
		float: none;
		display: block;
		margin-right: 0;
		margin-bottom: 15px;
	}
}
