.columns {

    .column_3 {
        @extend %oveflowMedia;

        > .column {
            @extend .left;

            width: 300px;
            margin-right: 35px;

            &:nth-child(3n+3) {
                @extend .last;
            }
        }
    }

    .column_5 {
        @extend %oveflowMedia;

        > .column {
            @extend .left;

            width: 180px;
            margin-right: 17px;

            &:nth-child(5n+5) {
                @extend .last;
            }
        }
    }
}
