.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.none {
	display: none;
}

.inline-container {
    @extend %overflowMedia;

    &.aleft{
        .item {
            @extend .left
        }    
    }

    &.aright{
        .item{
            @extend .right;
        }
    }
    
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-wrap {
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap
}

.flex-item {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.flex-item-initial {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-item-wide {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.first {
	margin-left: 0
}

.last {
	margin-right: 0
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}