/* Icon Documentation: http://www.alessioatzeni.com/meteocons/ */
@font-face{
	font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.weather-icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);

	@extend .font-bold;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?4prqe1');
	src:url('../fonts/icomoon.eot?#iefix4prqe1') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?4prqe1') format('truetype'),
		url('../fonts/icomoon.woff?4prqe1') format('woff'),
		url('../fonts/icomoon.svg?4prqe1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gallery:before {
	content: "\e600";
}
.icon-list-alt:before {
	content: "\e601";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-user:before {
	content: "\f007";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-home:before {
	content: "\f015";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-phone:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-circle:before {
	content: "\f111";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-bug:before {
	content: "\f188";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-youtube:before {
	content: "\f167";
}