.icons {
	
	margin-bottom: 20px;
	font-size: 20px;
	color: $iconsColor;

	.icon {
		margin-right: 25px;
	}
	.icon:last-child {
		margin-right: 0
	}

	.facebook {
		&:hover {
			color: $iconFacebookColor-hover;
		}
	}

	.twitter {
		&:hover {
			color: $iconTwitterColor-hover;
		}
	}

	.instagram {
		&:hover {
			color: $iconInstagramColor-hover;
		}
	}

	.pinterest {
		&:hover {
			color: $iconPinterestColor-hover;
		}
	}

}

.icons.right {
		text-align: right;
}
