.image-medium {
	@extend %sidebarWidth;

	height: $imageHeightMedium;
}

.image-large {
	@extend %sidebarWidth;

	height: $imageHeightLarge;
}

.image {
	@extend %sidebarWidth;

	height: $imageHeightSmall;
}

.imageThumb-primary {
	width: $imageWidthThumb-primary;
	height: $imageHeightThumb-primary;
}

.imageThumb-secondary {
	width: $imageWidthThumb-secondary;
}