input[type="text"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="color"],
input[type="email"],
input[type="password"] {
	@include flex(1);
	-ms-flex: 1;
	@extend %boxSizing;

	width: 100%;
	padding: 15px 20px;
	font-size: $fontSizeMedium;
	background-color: $inputTextBackgroundColor;
	outline: none;
}

.input {
	border: $inputBorder;
	color: $inputTextColor;
	background-color: $inputSelectBackgroundColor;
	margin: 5px;
	cursor: pointer;

	input, select {
		/*@extend .font-condensed;*/
		color: $inputTextColor;
	}
}

.input-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.input-label {
	/*@extend .font-condensed;*/
	@extend .font-bold;

	line-height: 2em;
	color: $inputLabelTextColor;
}

.input-radio {
	@extend .align-center;

	input[type="radio"] {
		@extend .absolute;
		left: -99em;
	}

	input:checked + .input-content {
		color: $white;
		background-color: $black;
	}
}

.input-select {
	@extend .relative;

	.input-selectArrowDown {
		@extend .inline-block;
		@extend .relative
		;
		background-color: #fff;
		z-index: 1;
		padding: 20px;
		border-left: $inputBorder;
	}
	select {
		@extend .absolute;
		left: 0;
		top: 0;
		border: none;
		padding: 20px;
		width: 100%;
		font-size: $fontSizeDefault;
	}
}

