.logo,
.logo-small,
.logo-footer {
	background-repeat: no-repeat;
	// text-indent: -9999em;
	display: inline-block;
}

.logo,
.logo-small {
	@extend %center;
	// background-image: url($logo);
}

.logo {
    /*width: 402px;
    height: 53px;*/
}

.logo-small {
    width: 290px;
    height: 38px;
    background-size: cover;
}

.logo-footer {
  /*background-image: url($logo-footer);*/
  /*width: image-width($logo-footer);*/
  /*height: image-height($logo-footer);*/
}

.logo-footer-small {
	background-size: cover;
	width: 53px;
	height: 40px;
}

.svg-stylebible {
	fill: current;
}