.modal {
	@extend .fixed;
	@extend .none;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 12;
	background-color: rgba(255, 255 ,255 , 1);
	overflow-y: auto;
	padding-top: $defaultSectionMargin-medium;
	padding-bottom: $defaultSectionMargin-medium;

	&.modal-show {
		@extend .block;
	}
}

.modal-close {
	@extend .absolute;

	right: 0;
	font-size: 24px;
	z-index: 2;
}


.modal-content {
	@extend .none;

	&.modal-content-active {
		@extend .block;
	}
}

.modal-content > .title {
	@extend .relative;
}

.modal-black-overlay{
	background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
	
	&.modal-content-active {
	    @include transition-property(background-color);
	  	@include transition-duration($headlineTransitionDuration);
	  	@include transition-duration(linear);
	}
}