.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.left {
	float: left;
}

.right {
	float: right;
}

.mb {
	@extend %defaultMarginButtom
}

.mb-small {
	@extend %defaultMarginButtom-small
}
.mb-medium {
	@extend %defaultMarginButtom-medium
}