a,
input[type=submit] {
  @include transition-property(color, background-color);
  @include transition-duration($headlineTransitionDuration);
  text-decoration: none;
  color: $white;

  &:hover{
  	color: $linkText-color-hover;
  }
}

em {
	font-style: italic;
}

strong {
	@extend .font-bold;
}

.clear {
	clear: both;
}

p {
	/*margin-top: $defaultSectionMargin-medium;
	margin-bottom: $defaultSectionMargin-medium;*/
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #5e5e5e;
}

body {
  font-family: $fontPrimary;
}
