.font-primary {
	font-family: $fontPrimary;
}

.font-secondary {
	font-family: $fontSecondary;
}
.font-special1 {
	font-family: $fontExtra1;
}
.font-special2 {
	font-family: $fontExtra2;
}

.font-thin {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;	
}

.font-bold {
	font-weight: 700;
}

.font-bolder {
	font-weight: 900;
}

.font-italic {
	font-style: italic;
}

.hero {
	font-size: $fontSize-hero;
}

.small {
	font-size: $fontSize-Small;
}

.medium {
	font-size: $fontSize-Secondary;	
}

.large {
	font-size: $fontSize-Primary;
}

.text-transform {
	text-transform: uppercase;
}