.menus .main-menu {
	/*display: flex;*/
	/*overflow: hidden;*/
	margin-bottom: 30px;
	text-align: center
}
.menus ul {
	list-style-type: none;
	padding: 0;
}
.menus .main-menu .main-menu-item {
	/*flex: auto;*/
	display: inline-block;
	vertical-align: top;
  	margin-left: 12px;
  	margin-right: 12px;
  	padding: 13px;
  	width: 145px;
  	outline: 0;
  	background: url('../images/dropdown.png') no-repeat center;
  	-webkit-appearance: none;
  	text-decoration: none;
  	border: 0;
  	position: relative;
  	text-align: left;
}
.menus .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 42px;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	z-index: 2;
}
.main-menu-item input[type="text"] {
	border: none;
	outline: none;
	background: none;
	color: #646464;;
	max-width: 120px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sub-menu.country{
	background-color: #fcb417;
	color: #fff;
    height: 250px;
}
.sub-menu.focus-area{
	background-color: #00a5d1;
	color: #fff;
}
.sub-menu.country li,
.sub-menu.focus-area li,
.sub-menu.sector li,
.sub-menu.projects li {
	border-bottom: 1px #fff solid;
	padding: 10px 14px;
}
.sub-menu.projects li {
	border: 1px #d3d3d3 solid;
}
.sub-menu.projects,
.sub-menu.value {
	background-color: #fff;
}
.sub-menu.value li  {
	border: 1px #d3d3d3 solid;
	padding: 24px 14px;
}
.value-label {
	margin-bottom: 30px;
  	margin-top: 5px;
}
.sub-menu.term li{
	border: none;
	padding: 10px 14px;
}
.sub-menu.term{
	background-color: #8dc740;
	color: #fff;
	padding: 10px 0;
}
.sub-menu.term select {
  width: 100%;
  padding: 3px;
  color: #646464;
  border: 1px #c1c1c1 solid;
}
.sub-menu.sector{
	background-color: #ef3835;
	color: #fff;
}
.sub-menu li {
	padding-top: 14px;
	padding-bottom: 14px;
}
.wiggle {
	background: url('../images/wiggle.png') no-repeat left;
  	height: 8px;
  	background-size: contain;
  	width: 48px;
}
.results-title {
	color: #000;
	font-size: 30px;
}
.results-container {
	margin-top: 36px;
}
.result-item {
	background-color: #dcdcdc;
	padding: 20px 25px;
	margin-bottom: 3px;
}
.result-item:hover {
	background-color: #00a5d2;
	transition: linear 0.3s;
	-webkit-transition: linear 0.3s;
	-moz-transition: linear 0.3s;
}
.result-image{
	float: left;
  	width: 145px;
  	margin-right: 40px;
}
.result-pagination {
  	margin-top: 50px;
}
.result-pagination a {
  	margin-left: 15px;
  	color: #9b9b9b;
}
.organization-name {
	margin: 0;
}

/* Jquery Slider */
.ui-slider {
  	position: relative;
  	text-align: left;
}
.ui-slider-handle {
	border-radius: 10px;
	background-color: #0088c6;
	position: absolute;
  	z-index: 2;
  	width: 0.8em;
  	height: 0.8em;
  	cursor: default;
  	-ms-touch-action: none;
  	touch-action: none;
  	outline: none;
}
.ui-corner-all {
}
.ui-widget-content {
	background-color: #ebebeb;
}
.ui-slider-horizontal {
	height: .3em;
}
.ui-slider-range {
  	height: 100%;
  	width: 100%;
  	position: absolute;
    z-index: 1;
  	font-size: .7em;
  	display: block;
  	border: 0;
  	background-position: 0 0;
}
.ui-widget-header {
  background: #0088c6;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #0088c6;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.4em;
}

.login {
	border: 1px #d3d3d3 solid;
	position: absolute;
	background-color: #fff;
	padding: 15px;
	margin-top: 10px;
	display: none;
}

.login input[type="text"], .login input[type="password"] {
	background-color: #ececec;
	border: none;
	padding: 10px;
  	font-weight: 700;
  	margin-bottom: 12px;
  	width: 160px;
}

.white-box {
	width: 10px;
  	height: 10px;
  	border: 1px #999 solid;
  	display: inline-block;
  	vertical-align: middle;
}

.no-account-label {
	font-size: 10px;
  font-weight: normal;
  color: #9f9f9f;
}

.login-button {
	background-color: #00a5d2;
	border: none;
	color: #fff;
	font-weight: 700;
	padding: 10px 53px;
	margin-top: 10px;
	border-radius: 5px;
	margin-bottom: 2px;
}
.home-search {
	position: absolute;
    bottom: 100px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    box-shadow: 0px 2px 12px -4px;
    background-color: #fff;
}

.home-search-text {
    border: none;
    width: 760px;
    font-size: 16px;
    vertical-align: middle;
    outline: none;
}

.search-btn {
	background: url(../images/search-icon.png) no-repeat center;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
}
