.default-width {
	@extend %defaultWidth;
	@extend %center;

	position: relative;
}

.full-width {
	@extend %center;
	
	width: $defaultFullWidth;
	position: relative;
}

.layout-narrow {
	@extend .flex-container;

	.content {
		@extend .flex-item-initial;
    	padding-right: $defaultLeftSectionPaddingRight;
  	}

	aside {
	    @extend %sidebarWidth;
  	}
 
}


.layout-columns {
	@include column-width($defaultGridWidth);
	@include column-count(3);
	@include column-gap($defaultGutter);

	.column {
		@include column-break(inside, avoid);
		// @extend %defaultMarginButtom;
	}
}


.column {
	width: $defaultGridWidth;
	// @extend %defaultMarginButtom;
}

.scroll-none {
	overflow: hidden;
}