#container {
	padding-top: 50px;
}

.default-width {
	width: 100%;
	position: relative;
}

.full-width {
	@extend %center;
	width: 100%;
	position: relative;
}

.layout-narrow {
	@include display-flex;
  	@include flex-wrap(wrap);

	.content {
		@include flex(1);
    	padding-right: $defaultLeftSectionPaddingRight;
  	}

	aside {
	    @extend %sidebarWidth;
  	}
 
}


.layout-columns {
	@include column-width($defaultGridWidth);
	@include column-count(3);
	@include column-gap($defaultGutter);

	.column {
		@include column-break(inside, avoid);
		// @extend %defaultMarginButtom;
	}
}


.column {
	width: $defaultGridWidth;
	// @extend %defaultMarginButtom;
}

.scroll-none {
	overflow: hidden;
}