/**
 List of Site Variables 
 *****************************************/


/***
 *** DEFAULTS ***/

/*** SITE CONFIG ***/
/*$logo: "../images/stylebible.ph-logo.png";*/
/*$logo-footer: "../images/logo-footer.png";*/

$defaultGutter: 30px !default;
$defaultSectionMargin: 30px !default;
$defaultSectionMargin-small: 10px !default;
$defaultSectionMargin-medium: 20px !default;

/*** TYPOGRAPHY ***/
$fontSizeDefault: 16px;

/** convert px to em */
@function em($target, $context: $fontSizeDefault) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

$fontSizeMedium: em(18px);
$fontSize-hero: em(49px);
$fontSize-Primary: em(24px);
$fontSize-Secondary: em(14px);
$fontSize-Small: em(12px);

$fontPrimary: "Asap";
$fontSecondary: "Roboto";
$fontExtra1: "Oswald";
$fontExtra2: "Sacramento";


/*** COLORS  ***/
$black: #000;
$white: #fff;
$gray: #222;
$yellow: #eab73a;
$gray1: #231f20;
$gray2: #282828;
$gray3: #959595;
$gray4: #222;
$gray5: #eee;
$blue: #314856;
$brown: #9d5141;


/*** DIMENSIONS ***/
$defaultWidth: 1000px;
$defaultFullWidth: 1000px;
$defaultSidebarWidth: 300px;
$defaultGridWidth: 300px;
$imageHeightSmall: 170px;
$imageHeightMedium: 300px;
$imageHeightLarge: 400px;
$imageWidthThumb-primary: 120px;
$imageHeightThumb-primary: 68px;
$imageWidthThumb-secondary: 180px;
$imageHeightThumb-secondary: 102px;


/*** GLOBAL ***/
$linkText-color-hover: $yellow;

/*** FEEDS ***/
$feedTitle-color: $black;
$feedTitle-color-hover: $brown;
$feedTitle-fontsize: $fontSize-Primary;
$feedChannel-color: $black;
$feedChannel-color-hover: $brown;
$feedChannel-fontsize: $fontSize-Secondary;
$feedBlurb-color: $gray2;
$feedSNSBackgroundColor: $gray5;
$feedBackgroundColor: $blue;
$feedBorderBottom: 1px solid $gray5;


/*** SPACING ***/
$feedGutter: $defaultGutter;
$defaultLeftSectionPaddingRight: 30px;


/*** HEADLINES ***/
$headlineBgColor: $gray4;
$headlineBgColor-Hover: $brown;
$headlineTransitionDuration: .5s;
$headlineTextColor-Hover: $white;


/** ICONS **/
$iconsColor: $gray1;
$iconFacebookColor-hover: #46679F;
$iconTwitterColor-hover: #03B5EF;
$iconPinterestColor-hover: #d2272f;
$iconInstagramColor-hover: #brown;


$footerLineSeparatorColor: #ddd;
$footerLinkFontSize: $fontSize-Primary;
$footerCopyrightTextColor: $gray4;


/*** HEADER SIGNIN ***/
$titleSecondaryFontSize: em(28px);
$headerSigninBorderColor: #ddd;

/*** BUTTONS ***/
$btn-font: $fontExtra1;
$btn-backgroundColor: $gray4;
$btn-backgroundColor-hover: $brown;
$btn-textColor: $white;
$btn-textColor-hover: $white;
$btn-submitBtnFontSize: $fontSizeMedium;
$btnFontSize-secondary: $fontSizeMedium;


/*** ACCENTS ***/
$backgroundSeparatorColor: $gray5;
$backgroundWidgetBackgroundColor: $gray5;

/*** DROPDOWN MENU ***/
$dropdownBackgroundColor: $white;
$weatherIconDropdown: em(85px);

/*** NAVIGATIONS ***/
$navPrimaryFontSize: $fontSize-Primary;
$navPrimaryTextColor: $gray4;
$navPrimarySeparatorBorderColor: 1px solid $gray5;


/*** WIDGETS FOOTER ***/
$wigetFooterViewsTextColor: $gray3;


/*** ASIDE ***/
$asideWidgetLabelFont: $fontExtra1;
$asideWidgetLabelFontSize: $fontSize-Primary;
$asideLineWidgetSeparatorColor: $gray5;
$weatherWidgetIcon: em(48px);


/*** ARTICLES ***/
$articleHeroImageHeight: 546px;
$articleBlockquotesFont: $fontExtra2;
$articleBlockquotesTextColor: $blue;
$articleBlockquotesFontSize: em(58px);
$articleBlockquotesMargin: 40px 100px;
$articleWidgetLabelFont: $fontExtra1;
$articleTextContentLinks-hover: $white;
$articleContentLinks-hover: $brown;
$articleContentLinksUnderline: $brown;
$articleContentLineHeight: 1.8em;


/*** ARTICLE RECOMMEND ***/
$articleRecoBorderColor: $gray5;


/*** ARTICLE - SURVEY ***/
$surveyChoicesBackgroundColor: $gray5;
$surveyChoicesBackgroundColor-hover: $black;
$surveyChoicesBackgroundColor-selected: $black;
$surveyChoicesTextColor-hover: $white;
$surveyChoicesTextColor-selected: $white;
$surveyResultsBoxBorder: 10px solid $gray5;
$surveyResultsPadding: 20px 30px;
$surveyLabelFontSize: $fontSize-Primary;
$surveyAnswerFontSize: $fontSizeMedium;
$surveyAnswerFontColor: $gray3;
$surveyResultsBarBackgroundColor: $gray5;
$surveyResultsBarPercentageBackgroundColor: $black;
$surveyResultsBarPercentageTextColor: $white;


/*** READ NEXT ***/
$readnextBGColor: $white;
$readnextArticleFontFamily: $fontSecondary;
$readnextArticleFontSize: $fontSizeDefault;
$readnextCloseFontColor: $gray2;
$readNextTransitionDuration: .5s;

/*** READ REVEAL ***/
$readRevealHeight: 1200px;

/*** DIRECTORY ***/
$directorySelectedLineColor: $brown;
$directoryDividerBorderColor: $gray5;
$directoryBrandTextSize: em(36px);

/*** READ REVEAL ***/
$omtTransitionDuration: .6s;

/*** TAGS ***/
$tagTextColor-hover: $brown;

/*** EVENTS ***/
$eventBackgroundColor1: #314856;
$eventBackgroundColor2: #ecbbad;
$eventBackgroundColor3: #798881;
$eventBackgroundColor4: $brown;
$eventBackgroundColor5: #a67f48;


/*** SNS ***/
$snsFontSize: $fontSizeDefault;
$snsCountTextColor: $gray4;
$snsBorderColor: $gray5;
$snsTextColor: $gray3;
$snsButtonBGColor: $black;
$snsButtonTextColor: $black;


/*** SUBSCRIBE ****/
$subscribeTextBoxBackgroundColor: $gray5;
$subscribeBackgroundColor: $gray3;


/*** SEARCH ***/
$searchBoxBackgroundColor: $gray5;


/*** INPUTS ***/
$inputTextBackgroundColor: $gray5;
$inputSelectBackgroundColor: $white;
$inputTextColor: $gray2;
$inputLabelTextColor: $gray2;
$inputBorder: 2px solid $gray5;


/*** LABELS ***/
$labelFontSize-primary: $fontSizeMedium;
$labelFontSize-secondary: $fontSizeMedium;
$labelTextColor-secondary: $gray3;


/*** PREVIEW ***/
$previewTitleLinkFontColor: $white;
$previewYoutubeTitleFontSize: $fontSize-hero;
$previewYoutubeTextColor: $white;


/*** MIXINS ***/
%defaultWidth {
	width: $defaultWidth;
}

%sidebarWidth {
	width: $defaultSidebarWidth;
}

%gridWidth {
	width: $defaultGridWidth;
}

%defaultMarginButtom {
	margin-bottom: $defaultSectionMargin;
}

%defaultMarginButtom-small {
	margin-bottom: $defaultSectionMargin-small;
}
%defaultMarginButtom-medium {
	margin-bottom: $defaultSectionMargin-medium;
}

%center {
	margin-left: auto;
	margin-right: auto;
}

%right {
	text-align: right;
}

%left {
	text-align: left;
}

%boxSizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

%overflowMedia{
	overflow: hidden;
	_overflow: hidden;
	zoom: 1;
}