/** Google Ads **/
.google-ad {
	@extend %center;
	// background-color: $gray2;
}

.billboard {
	margin-bottom: 35px;
}

.stripAd {
	@extend %defaultMarginButtom;
}

.leaderboard {
	// height: 90px;
}

.leaderboard-bottom {
	margin-bottom: 40px;
}

.mrec {
	@extend %sidebarWidth;
	@extend %center;
}

.feeds {
	.google-ad {
		@extend %defaultMarginButtom;
	}
}
