.gallery {
	margin-top: 30px;
}
.launch-gallery-container {
	background-color: $gray5;
}
.launch-gallery {
	background-color: $black;
}
.gallery-toggle-button-container {
	.gallery-toggle.btn-list {
		padding-right: 220px;
	}
	.gallery-toggle { 
		padding: 14px;
		font-style: italic;
		cursor: pointer;
		background-color: $black;
		color: $white;
	}
	.toggle-active {
		background-color: $gray5;
		color: $black;
	}
}

.image-container {
	margin: 0 auto;
}

.image-overlay-container {
	@extend %boxSizing;

	background-color: $black;
	color: $white;
	opacity: 0.8;
	font-style: italic;
	font-size: $fontSizeMedium;
	position: absolute;
    bottom: 15px;
    right: 20px;
    left: 20px;
	
	.flex-container {
		align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-o-align-items: center;
	}

	.count {
		font-size: $fontSizeDefault;
	}

	.bd span {
		font-size: $fontSize-Small;
	}
}
.image-overlay-item {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
.image-overlay-item:first-child, .image-overlay-item:nth-child(2) {
	border-right: 1px solid;
	padding-left: 35px;
  	text-align: left;
}
.image-container {
	margin-top: 40px;
	position: relative;
	display: inline-block;
}
.image-container:hover .sns-gallery-list {
	display: block;
}
.sns-gallery-list {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-column-count: 1 !important;
  	column-count: 1 !important;
  	display: none;
}

.sns-gallery-modal {
	@extend .sns-gallery-list;

	left: -100px;
	top: 10px;
	display: block;
}
.sns-gallery-float-btn {
	margin-bottom: 3px;
}

.gallery-collapsed,
.gallery-list {
	@extend .none;
}

.gallery-type-active {
	display: block;
}

.gallery-modal {
	background-color: $gray1;
	opacity: 0.9;
	position: fixed;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	height: 100%;
	right: 0;
 	left: 0;
 	z-index: 12;
}
.gallery-section {
	left: 0;
	position: absolute;
	background-color: $black;
	color: $white;
	width: 100%;
	font-size: $fontSize-Secondary;
}

.gallery-header {
	top: 0;
	
	.left-column {
		padding: 18px;
	}

	.right-column {
		right: 0;
 		position: absolute;

 		.card {
 			padding: 18px;
 			padding-left: 30px;
  			border-left: 1px solid $gray1;
 		}
	}
}

.gallery-footer {
	bottom: 0;

	.card {
		padding: 25px;
  		margin-left: 30px;
	}
}

.gallery-button-active {
	color: $black;
	background-color: $white;
}

.gallery-replay-button {
	@include border-radius(30px);
	background-color: $black;
	color: $white;
	position: absolute;
	top: 60px;
  	left: 125px;
	padding: 14px 8px;

	span.figure {
		margin-bottom: 0;
	} 

	.bd {
		font-size: 10px;
		font-family: $fontSecondary;
	}
}

.gallery-sns-container {
	margin-top: 15px;
	display: inline-block;

	.sns-count {
		background-color: $white;
	}
}

.gallery-photo {
	margin-bottom: 15px;
}

.gallery-share-label {
	color: $white;
	font-size: $fontSizeMedium;
}

.more-galleries {
	margin-top: -45px;
}

.more-galleries-item {
	margin-right: 16px;
	width: 180px;
	font-family: $fontSecondary;
}

.more-galleries-item:last-child {
	@extend .last;
}

.more-galleries-label-container {
	height: 50px;
}

.more-galleries-label {
	position: absolute;
	background-color: $black;
	color: $white;
	font-size: $fontSize-Primary;
	width: 525px;
	padding: 22px 0 ;
	z-index: 12;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	&:after, &:before {
		content: ' ';
		position: absolute;
		border-style: solid;
		border-width: 15px 50px;
		left: 50%;
		margin-left: -50px;
	}

	&:after {
		border-color: $gray5 transparent transparent transparent;
		top: 100%;
	}

	&:before {
		border-color: $black transparent transparent transparent;
		top: 99%;
		z-index: 1;
	}
}
