article {
	@extend %defaultMarginButtom;
}

.article {
	article p {
		line-height: $articleContentLineHeight;
	}

	h2 {
		@extend %defaultMarginButtom;
		@extend .hero;
		@extend .font-thin;

		display: block;
		width: 100%;
	}

	.byline {
		@extend .font-secondary;
		margin-bottom: 10px;
	}

	.channel {
		font-size: inherit;
		@extend .font-bolder;
	}

	.author {
		@extend .font-bold;
		@extend .font-italic;
	}

	blockquote {
		font-family: $articleBlockquotesFont;
		font-size: $articleBlockquotesFontSize;
		margin: $articleBlockquotesMargin;
		color: $articleBlockquotesTextColor;
		text-align: center;
	}

	.description {
		@extend .font-italic;
		font-size: $fontSizeMedium;
		color: $gray2;
		margin-bottom: 20px;
		line-height: 1.3em;
	}
}

.article-story {
	padding-right: 20px;
	padding-left: 20px;
}

.article-story > p:first-child:first-letter {
	@extend .hero;
	@extend .font-bold;
	float: left;
	line-height: 1em;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 5px;
}


.article-story p a {
	display: inline-block;
	border-bottom: 5px solid $articleContentLinksUnderline;
	line-height: initial;
	
	&:hover {
		background-color: $articleContentLinks-hover;
		color: $articleTextContentLinks-hover;
	}
}

.article-story img {
	width: 100%;
}

.hero-image {
	@extend %defaultMarginButtom;
	width: 100%;
}

.label {
	font-family: $asideWidgetLabelFont;
	font-size: $asideWidgetLabelFontSize;
	border-bottom: 1px solid $gray5;
	line-height: 2.5em;
	text-transform: uppercase;
}