.directory-header {
	@extend .font-secondary;
	@extend .font-bold;
	@extend .text-transform;
	@extend %defaultMarginButtom;
	font-size: $fontSizeMedium;
}

.directory-categories,
.directory-alphabet {
	@extend .align-center;
}

.directory-categories {
	border-bottom: 5px solid $black;

	span {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.directory-select {
	@extend %left;
	@extend .relative;
	
	margin-top: 10px;
	height: 13px;	

	span {
		margin: 0;
	}
}

.directory-alphabet {
	@extend %boxSizing;
	border-top: 5px solid $black;
	border: 1px solid $black;

	span {
		margin-left: 2px;
		margin-right: 2px;
		line-height: 3em;
	}	
}

.directory-select span:before {
	content: "\25b4";
	font-size: $fontSize-hero;
	line-height: 5px;
	position: absolute;
	z-index: -1;
	left: 80%;
}

.directory-alphabet span:nth-child(1){
	margin-right: 25px;
}

.directory-alphabet .selected {
	border-bottom: 3px solid $directorySelectedLineColor;
}

.directory .letter {
	@extend .hero;
	@extend .font-bold;
	line-height: 1em;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 5px;
}

.directory .letter-items {
	@include column-count(3);
	@include column-gap(60px);
	width: 100%;
	margin-bottom: $defaultSectionMargin;
}

.directory .letter-items span {
	@extend .text-transform;
	display: block;
	line-height: 1.2em;
}

.directory .column {
	@include column-count(2);
	@include column-break(inside, avoid);
	width: 100%;
}

.directory .channel {
	@extend .font-secondary;
	@extend .font-thin;
	font-size: $feedChannel-fontsize;
}

.directory .title {
	@extend .font-primary;
	@extend .font-normal;
	font-size: $fontSize-hero;
}

.profile-info {
	@extend %defaultMarginButtom;
	border-top: 1px solid $directoryDividerBorderColor;
	padding-top: $defaultSectionMargin;
}

.profile-info span {
	display: block;
	line-height: 2em;
}

.profile-info i {
	margin-right: 10px;
}

.profile-articles {
	@include column-count(4);
	@include column-gap(30px);
	width: 100%;
}

.profile-articles .bd {
	@extend .font-secondary;
}