.cosmosignin, .cosmomenu, .sbsearch, .logged{
	overflow-x: visible;
	overflow-y: scroll;
	height: 425px;
	/*border-top: 2px solid #ed0c6e;*/
	border-top: 1px solid #eeeeee;
	display:none;
}

.menu-ul{
	font-size: 24px;
	color: #7b7b7b;
	margin-bottom: 15px;
}

.menu-ul > li > a{
	/*color: #7b7b7b;*/
	color:black;
	border-bottom: 1px solid #eeeeee;
	display: block;
	/*padding: 15px 0px;*/
	padding: 15px 20px;
	font-weight:300;
}