// $default-border-radius: 25px;

// .events {
// 	@extend %defaultMarginButtom;
// 	padding: 20px 15px;
// 	border-top: 1px solid #efefef;
// 	border-bottom: 1px solid #efefef;
// 	height: 40px;
// 	overflow: hidden;
// }

// .event-item {
// 	margin-bottom: 20px;	
// }

// .event-day {
// 	@include border-radius();
// 	@extend .font-italic;
	
// 	background-color: #314856;
// 	width: 50px;
// 	height: 50px;
// 	text-align: center;
// 	color: $white;
// 	font-size: $fontSize-Primary;
// 	line-height: 2em;

// 	span {
// 	  display: block;
// 	}

// 	&:hover{
// 	color: $white;
// 	}
// }

// .event-byline {
// 	@extend .small;
// 	// @extend .font-thin;
// 	color: $gray3;
// 	margin-bottom: 10px;
// }

// .event-title {
// 	span {
// 		@extend .font-bold;
// 	}
// }

// .events-header {
// 	background-color: $gray5;
// 	padding: 8px;
// 	font-size: $fontSizeMedium;
// 	font-family: $fontExtra1;

// 	.month-left {
// 		border-right: 1px solid $white;
// 	}
// }

// .event-arrow-nav {
// 	font-size: 45px;
// 	color: $black;
// 	background-color: $white;
// 	padding: 8px 20px;

// 	&:active {
// 		background-color: $black;
// 		color: $white;
// 	}
// }
// .event-month {
// 	line-height: 2.8em;
// }
// .event-list {
// 	.events {
// 		border-top: none;
// 		margin-bottom: 0;
// 	}
// }

// .no-border-bottom {
// 	border-bottom: none;
// }

// .event-notifier {
// 	border-top: 1px solid $gray5;
// 	border-bottom: 1px solid $gray5;
// 	padding: 10px;
// }
// .event-left-column,
// .event-right-column {
// 	@extend %boxSizing;
//   	margin-top: 5px;
//   	padding-right: 20px;
//   	width: 50%;
// }
// .event-list-details {
// 	margin-top: 10px;
// 	margin-bottom: 20px;
// 	font-family: $fontSecondary;
// 	font-size: $fontSizeDefault;
	
// 	.stack .figure {
// 		background-color: $white;
// 		font-weight: 700;
// 	}

// 	.bd {
// 		margin-bottom: 15px;
// 	}
// }
// .event-details{
// 	.title-header{
// 		@extend .event-list-details;
// 		font-weight: 700;
// 	}
// }
// .google-map iframe {
// 	border: 4px solid $gray5;
// }
// .google-buttons {
// 	margin-top: 20px;
// 	a {
// 		background-color: $gray5;
// 		padding: 8px 16px;
// 		border-radius: 8px;
// 	}
// }

// .eventBackground1 {
// 	background-color: $eventBackgroundColor1;
// }

// .eventBackground2 {
// 	background-color: $eventBackgroundColor2;	
// }

// .eventBackground3 {
// 	background-color: $eventBackgroundColor3;	
// }

// .eventBackground4 {
// 	background-color: $eventBackgroundColor4;	
// }

// .eventBackground5 {
// 	background-color: $eventBackgroundColor5;	
// }
// 
/*for events homepage */
.home-events-container{
  background-color: #eeeeee;
  padding: 20px 10px 10px 10px;
  margin-bottom: 15px;
}

.event-date{
  font-family: Georgia; font-size: 24px; 
  text-decoration: none; background-color: #314856;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.event-date-container a{
	font-family:Georgia; font-size:24px;
}

.event-right{
	margin-left: 70px; width: 200px;
}

.event-content span{
	font-size:12px; color:#959595;
}

.event-content a{
	font-size:14px;  font-weight: 500;
}

/*events homepage end */

/*Added by gien*/

/* events landing page */

.events-section-header{
	font-size: 24px;
  	font-weight: 300;
}
.event-item{
	padding: 15px 10px 5px 10px;
  	border-bottom: 1px #f1f1f1 solid;
  	text-align: right;
}
.peach{
	background-color: #F0BCAF;
}
.olive{
	background-color: #798881;
}
.rust{
	background-color: #9D5141;
}
.golden-brown{
	background-color: #A67E4A;
}

.event-date{
	color: #fff;
	line-height: 44px;
	text-align: center;
	font-style: italic;
	display: inline-block;
}

.event-details {
  padding-left: 5px;
  padding-bottom: 10px;
  width: 240px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  transition: all linear 0.2s;
}

.event-time-place {
  font-size: 12px;
  color: #959595;
}

.event-title {
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
}

.navi-container {
  height: 65px;
  background-color: #cdcdcd;
  font-family: Oswald;
  margin-top: 15px;
}

.navi-arrow .navi-arrow-icon {
  font-size: 50px;
  padding: 0px 25px;
  background: #fff;
  line-height: 44px;
  margin: 10px 8px;
  width: 10px;
}
.navi-arrow-icon:active{
	background-color: #000;
	color: #fff;
}
.navi-divider {
  width: 1px;
  height: inherit;
  position: absolute;
  background-color: #959595;
  left: 50%;
}
.navi-arrow span {
  vertical-align: top;
  font-size: 20px;
  line-height: 60px;
  margin: 0 10px;
}
.navi-left {
  text-align: left;
}
.navi-right {
  text-align: right;
}
.navi-arrow {
  width: 50%;
  float: left;
}

/* end events landing page */
/* by Denver Elejorde */

/* events listing */
.event-notif {
  border-top: 1px rgba(205,205,205,.6) solid;
  border-bottom: 1px rgba(205,205,205,.6) solid;
  width: 100%;
  line-height: 32px;
  text-align: center;
  margin-top: 15px;
}
.event-image {
  width: 245px;
  height: 305px;
  background: #cdcdcd;
  margin: 20px auto;
}
.event-list-details{
	margin-top: 30px;
}
.event-list-details ul li {
  font-size: 14px;
  line-height: 26px;
}
.google-map{
  height: 164px;
  margin: 15px 20px;
  border: 3px #cdcdcd solid;
}
.google-buttons{
	text-align: center;
  	margin-top: 20px;
}
.google-buttons a {
  padding: 8px 10px;
  background: #cdcdcd;
  border-radius: 5px;
  font-size: 14px;
  margin: 0px 5px;
}
/* end */