
.feed .figure {
	.image-medium,
	img {
		width: 100%;
	}
}

.feed .bd {
	padding-left: 20px;
	padding-right: 20px;
}

.title {
	@extend .font-secondary;
	@extend .font-normal;

	margin-bottom: $defaultSectionMargin-small;
	font-size: $feedTitle-fontsize;
	color: $feedTitle-color;
	line-height: 1.1em;


	a:hover {
		color: $feedTitle-color-hover;
	}
}

.channel {
	@extend .font-secondary;
	font-size: $feedChannel-fontsize;
	color: $feedChannel-color;
	margin-bottom: 5px;

	a:hover {
		color: $feedChannel-color-hover;
	}
}

.blurb {
	color: $feedBlurb-color;
	line-height: 1.4em;
}


.sns-feed {
	@include transition-property(transform);
	@include transition-duration($headlineTransitionDuration);
	@extend %boxSizing;
	
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: $feedSNSBackgroundColor;
	padding: 5px;
	transform: translateY(100%);

	a {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.progress-button .loader{
	/*background: url('../../images/loader.GIF');*/
	width: 42px;
	height: 46px;
	margin: 20px auto;
	display: none;
	cursor:pointer;
}

.progress-button button{
  display: block;
  margin: 20px auto;
  padding: 12px 10px 12px 10px;
  background: transparent;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Oswald;
  border: none;
 
}

.progress-button button{
	color: black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	width: 162px;
	cursor:pointer
}

.side-line {
  line-height: 0.5;
  text-align: center;
}

.side-line span {
  display: inline-block;
  position: relative;  
}

.side-line span:before,
.side-line span:after {
  content: "";
  position: absolute;
  border: 1px solid #eee;
  top: 2px;
  width: 600px;
}

.side-line span:before {
  right: 100%;
  margin-right: 36px;
  width: 400px;
}

.side-line span:after {
  left: 100%;
  margin-left: 36px;
  width: 400px;
}
