// #footer {
// 	@extend .relative;
	
// 	background-color: $backgroundSeparatorColor;
// 	padding-top: 125px;
// }

// footer {

// 	background-color: $white;

// 	.footer {
// 		padding-top: 40px;
// 		padding-bottom: 40px;

// 		ul {
// 			@extend .font-thin;
// 			@extend .font-secondary;
// 			@include column-count(6);
// 			@include column-rule(1px, solid, $footerLineSeparatorColor);
// 			font-size: $footerLinkFontSize;

// 			li {
// 				text-align: center;
// 				line-height: 2em;
// 			}
// 		}
// 	}

// 	.copyright {
// 		@extend .small;
// 		@extend .font-secondary;
// 		@include column-count(2);
// 		margin-bottom: 10px;

// 		color: $footerCopyrightTextColor;
// 	}

// 	.copyright-links {
// 		text-align: right;
// 	}

// 	.text-logo {
// 		@extend .font-primary;
// 		@extend .font-bold;
// 		@extend .font-italic;
// 	}	
// }
// 
/*  footer */
.left-links{
	margin-left: 10px;
}

.footer-bottom{
	margin-top:15px;
	font-size: 17px;
	/*font-family: Myriadpro;*/
	font-family:Roboto;
}

.footer-text{
	margin-top:30px; margin-right:10px;
}
.footer-bottom-2{
	margin-top: 10px;
}

footer{
	width: 100%;
	/*background-color: #f5f5f5; */
}

.footer {
	padding: 15px 15px;
	/*border-bottom: 1px solid #f2f2f2;*/
	/*text-align: center;*/
}

.footer > .logo2 {
	/*background: url('../../images/web/mobile/logo-footer.png');*/
	/*width: 142px;*/
	width:96px;
	/*height: 38px;*/
	height:70px;
	display: block;
	text-indent: -9999px;
	/*margin: 0px auto 10px;*/
}

.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.footerLinks{
	width: 130px;
	display: block;
	padding: 10px 0px 15px;
	font-size: 24px;
	color: #333;
}

.copy{
	clear: both;
	width: 100%;
	padding-top: 10px;
}
