header{
	width: 100%;
	/*border-bottom: 2px solid #ed0c6e;*/
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 102;
	-webkit-box-shadow: #ccc 0px 0px 12px;
	-moz-box-shadow: #ccc 0px 0px 12px;
	box-shadow: #ccc 0px 0px 12px;
}

.header{
	padding: 10px 10px;
}

.logo {
	background: url('../../css/fonts/stylebible-logo1.svg') no-repeat;
	width: 160px;
	height: 22px;
	float: left;
	text-indent: -9999px;
	background-size: contain;
  	margin-top: 3px;
}

.nav{
	width: 140px;
	text-align: right;
}

.nav .inline{
	width: 30px;
	padding-top: 23px;
	font-size: 9px;
	color: #7f7f7f;
	float: left;
	text-align: center;
}

.nav a{
	/*font-size: 24px;*/
	font-size:20px;
	position: relative;
  	margin: 0 8px;
  	color: #3a3436;
}
.nav a span{
  font-size: 9px;
  position: absolute;
  left: -8px;
  bottom: -8px;
}

.tabsNav{
	display: none;
	width: 320px;
	margin: 0px auto;
}

.tabsNav a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	color: #7f7f7f;
	padding: 5px 16px;
}

.tabsNav a.select{
	background-color: #ed0c6e;
	color: #fff;
	padding: 5px 17px;
}

.tabsNav a .closer {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 5px;
}

.tabsNav a.select .closer{
	/*background: url('../../images/web/mobile/close.png') no-repeat;*/
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 5px;
}