.highlight {
	@include transition-property(background-color);
  	@include transition-duration($headlineTransitionDuration);
  	@extend %defaultMarginButtom;

	background-color: $headlineBgColor;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 10px;
	color: $gray5;
}

.highlight:hover {
	background-color: $headlineBgColor-Hover;	
	color: $headlineTextColor-Hover;
}

.highlight span {
	color: $yellow;
}