.nav-primary {
	@extend .font-thin;
	@extend .font-secondary;
	@extend .flex-container;

	font-size: $navPrimaryFontSize;
	color: $navPrimaryTextColor;

	li {
		@extend .align-center;
		@extend .flex-item;

		border-right: $navPrimarySeparatorBorderColor;
		line-height: 1.9em;

		&:last-child {
			border-right: 0;
		}
	}
}

.tab-active a,
.modal .nav-primary a:hover {
	@extend .relative;

	&:after {
		content: ' ';
		border-color: transparent transparent $black transparent;
		border-width: 10px 5px;
		border-style: solid;
		position: absolute;
		left: 50%;
		margin-left: -5px;
		bottom: -10px;
	}
}

.nav-articles {
	@extend %defaultMarginButtom-medium;
	@extend .relative;
	
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	padding-top: 20px;

}

.nav-articleItem {
	
}

.nav-articleItem:last-child {
	@extend .last;
}

.nav-more {
	@extend .font-secondary;
	@extend .font-thin;

	position: absolute;
	right: 0;
	bottom: -20px;
	line-height: 2.5em;
	text-transform: uppercase;

	border-right: 5px solid $black;
	border-left: 5px solid $black;
	padding-left: 20px;
	padding-right: 20px;
	background-color: $white;
	display: inline-block;
}