.omt {
	.featured {
		margin-bottom: 0;
	}

	.subscribe-omt {
		@extend %boxSizing;
		@extend %center;
		@extend .align-center;
		
		padding: 20px 35px;
		border: $navPrimarySeparatorBorderColor;
		width: 95%;
		
		.widget-subscribe,
		.blurb {
			@extend %defaultMarginButtom-small;
		}

		.title {
			@extend .font-normal;
		}

		.blurb {
			margin-top: 10px;
		}
	}

}