.previewLogo,
.sb-logo {
	@extend .absolute;
	top: 10px;
}
.previewLogo {
	left: 10px;	
}
.sb-logo {
	@extend .font-secondary;
	@extend .small;

	right: 10px;
	border: 3px solid $white;
	padding: 5px;
}

.sbLogo {
	@extend .inline-block;
	/*background-image: url(../images/stylebible.ph-footer-logo.png);*/
	background-position: -22px center;
	width: 64px;
	height: 50px;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: 100px 50px;
}

.logo-preview {

}
.page-preview {
	
	header {
		@extend %defaultMarginButtom;
	}

}

.feeds-preview {

	.column {
		margin-right: 35px;
	}
	.column:nth-child(3n) {
		@extend .last;
	}
	.title {
		@extend .font-primary;
		@extend .font-normal;
	}
	
	.blurb {
		@extend .font-secondary;
	}
}

.preview-hero {
	@extend %defaultMarginButtom;
	@extend .align-center;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 900px;

	.title {
		@extend .inline-block;
		@extend .hero;
		@extend .font-primary;
		margin-top: 400px;

		color: $previewTitleLinkFontColor;
	
	}
}
.youtube,
.preview-about {
	padding-top: $defaultSectionMargin;
	padding-bottom: $defaultSectionMargin;
	margin-bottom: $defaultSectionMargin;
}
.youtube {
	background-color: $black;

	.title {
		@extend .font-thin;

		font-size: $previewYoutubeTitleFontSize;
	}

	.title,
	.blurb {
		color: $previewYoutubeTextColor;
	}
	
	iframe {
		width: 100%;
		height: 450px;;
	}
}

.icons-preview {
	@extend %defaultMarginButtom-medium;
}

.icon-preview {
	@include border-radius(30px);
	@extend %defaultMarginButtom-small;
	@extend .inline-block;
	@extend .align-center;

	color: $gray1;
	width: 25px;
	height: 25px;
	border: 8px solid $gray1;

	i {
		margin-top: 5px;
	}
}


.subscribe-preview {
	@include flex(0 300px);
	margin-left: $defaultSectionMargin-medium;
	margin-right: $defaultSectionMargin-medium;
}

.preview-staffs {
	line-height: 1.3em;
}