.widget.widget-readnext {
	margin-bottom: 0;
}

.widget-readnext {
	@extend .float-right;
	background-color: $readnextBGColor;
	position: fixed;
	top: 50%;
	right: 0%;
	-webkit-transform: -webkit-translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);	
	width: 210px;
	z-index: 1;
	padding: 20px;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.widget-readnext .close-readnext {
	@extend .float-right;
	@extend .font-primary;
	@extend .small;
}

.close-readnext {
	color: $readnextCloseFontColor;
}

.widget-readnext .widget-label {
	text-transform: uppercase;
	font-family: $readnextArticleFontFamily;
	font-size: $fontSizeMedium;
	margin-bottom: 10px;
}

.widget-readnext .figure {
	margin-bottom: 5px;
}

.widget-readnext h4 {
	@extend .font-normal;
	font-size: $readnextArticleFontSize;
}