%signUpDefaultWidth {
	@extend %center;
	width: 640px;
}

.font-condensed {
	font-family: 'Roboto Condensed';
}

%signUpGradient {
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.sign-up-header {
	@extend .relative;

	height: 56px;
	padding: 15px;
	background: #FFFFFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0px auto 30px;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
}

.sign-up-header:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 20px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -10px;
	left: 48%;
}

.signup-main,
.signup-footer {
	@extend .font-secondary;
	@extend %signUpDefaultWidth;
}

.signup-main {
	@extend .flex-container;
	@extend %defaultMarginButtom;
	@extend %center;

	section {
		@include flex(1);

		padding-right: 20px;
		padding-left: 20px;
	}
}

.signup-main .facebook {
	@extend %defaultMarginButtom-medium;

	padding-top: 10px;
	padding-bottom: 10px;
}

.separator-horizontalDashed {
	border-top: 1px dashed #ccc; 
	border-bottom: 1px dashed #ccc; 
}

.signup-main input:not([type="submit"]),
.signup-main input:not([type="button"]) {
	@extend %defaultMarginButtom-small;
  	border: 2px solid #e1e1e1;
	background-color: #fff;
	padding: 10px;
}


.sign-up-wrapper,
.sign-up-cont-wrapper,
.edit-profile-wrapper {
	@extend %signUpGradient;
}

.youll-love-list ul{
	list-style: initial !important;
}


.radiowrapper,
.frm-home-select {
	text-align:center;
	margin:0 auto;
	font-family:"Roboto Condensed";
}

.radiowrapper input, .frm-home-select input {
	visibility:hidden;
	width:0;
}

.radiowrapper input:checked + label,
.frm-home-select input:checked + label {
	background-color: #222; color: #ffd;
}

.radiowrapper label{
  display: block !important;
  margin-top: -10px !important;
  cursor: pointer;
  width: 310px;
  height: 45px;
  margin: 0 auto;
  border: 2px solid #e1e1e1;
  color: #5e5e5e;
  line-height: 300%;
  background-color: white;
}

.frm-home-select label, .frm-home-select-d label{
  display: inline-block !important;
  margin-top: -10px !important;
  cursor: pointer;
  width: 310px;
  height: 45px;
  margin: 0 auto;
  color: #5e5e5e;
  line-height: 300%;
  background-color:white;
  margin-right: 5px;
}


.showPassword{
	@extend .font-secondary;
	@extend .small;
	@extend .inline-block;
	@extend .absolute;
	
	right: 10px;
	top: 10px;
	padding: 7px;
 	background-color: #e1e1e1;
}

.pass-validation{
	width: 260px;
	margin-bottom:20px;
}

.fw600{
	font-weight:600;
}

.cont-btn, .signmeup-btn{
	height:60px;
	border-radius: 30px;
	border: none;
	background-color: #222;
	background: #222  !important;
	color:#fff;
}

.cont-btn{
	width:260px;
}

.signmeup-btn{
	width: 350px;
}

.cont-btn{
	margin: 5px 0 50px 0;
}

.signmeup-btn{
	margin: 20px 0 20px 0;
}

.sc-btn{
	margin: 20px 0 -5px 0 !important;
	cursor: pointer;
}

.skip{
	margin-bottom:30px;
	margin-top:30px;
}

.gp{
  position: relative;
  margin-left: 20px;
  display: block;
  margin-top: 0px;
}


.cont-btn span{
	margin-right:10px;
}

.newsletter-chckbox, .interest-chckbox{
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.interest-table tr{
	margin-bottom: -4px;
    display: block;
}

.newsletter-chckbox{
  width: 18px;
  height: 18px;
}

.interest-chckbox{
  width: 24px;
  height: 24px;
}

.userg{
  word-break: break-word;
  margin-bottom: 10px;
}

b{
 font-weight: bold;
}
.userg-container{
	width: 572px;
	margin-bottom:20px;
	line-height: 20px;
}

.drpdown-bday{
	margin-left:60px;
}

.drpdown-location{
	margin-left:-6px;
}

.ro-container{
	margin-left:-4px;
}

.nwsltr-chckbx-container{
	margin-right: 30px;
}

.back-to-home{
	margin-left:110px;
}

.renting-list, .owned-list, .nwsltr-chckbx-container, .sc-btn-container{
	display:inline-block;
}

.renting-list{
	margin-right:6px;
}

.signup-cont-drpdown, .signup-cont-drpdown-small{
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
 
  background-size: 100% 100%;
  border: none;
  font-family: 'Roboto Condensed';
  /*width: 85%;*/
  
  height: 52px;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
   outline: none;
 
}

.signup-cont-drpdown-small{
	width:180px;
	/*background: url(../images/web/mobile/drpdown-small.png) 0 0 no-repeat;*/
	margin-right: 52px;
}

.signup-cont-drpdown{
	width: 315px;
	/*background: url(../images/web/mobile/drpdown-long.png) 0 0 no-repeat;*/
    margin-left: 16px;
}

.gndr{
	display:block;
	height:5px;
}

.marginbtm10{
	margin-bottom:30px;
}

.signup-caption{
  width: 645px;
  margin-bottom:10px;
}

.signup-logo{
  margin-top: 10px;
}

.signup-footerContainer {
	@extend %signUpGradient;
}

.signup-footer{
	@extend .small;

	padding: 15px; bottom:0;
}

.signup-footer a{
	text-decoration:none;
}

.no-textdecor{
	text-decoration:none;
}

.span-day, .span-year{
	display: block;
}

.span-day{
	margin: -22px auto;
}

.span-year{
	margin: 19px auto;
}

.gender-select{
	margin-top: 20px; margin-bottom: 20px;
}

.flabel img, .mlabel img{
	position: absolute !important; margin-left: -12px !important; margin-top: 10px !important;
}

.flabel span, .mlabel span{
	margin-left: 10px;
}

.margbtm20{
	margin-bottom:20px !important;
}

.margbtm30{
	margin-bottom: 30px !important;
}

.margtop30{
	margin-top:30px ! important;
}

.margtop10{
	margin-top:10px;
}

.sparent-div{
	margin-top: 20px !important; margin-bottom: 40px !important;
}

small{
	font-size: 12px; display: block;
}

.free-item-txt{
	width:540px; margin-top: 10px; margin-bottom: 10px;
}

.frm-rent{
	  margin-bottom: -10px !important;
}

.hide{
	display: none;
}
.show{
	display: block !important;
}
.disabled{
	background-color: #222222 !important;
  	color: #FFFFFF !important;
}

.gender-single{
  display: inline-block !important;
  margin-top: -10px !important;
  cursor: pointer;
  width: 626px !important;
  height: 45px;
  padding: 0 10px;
  margin: 0 auto;
  border: 2px solid #e1e1e1;
  color: #5e5e5e;
  line-height: 270%;
  background-color: white;
}

.logged-in{
	color: #9d5141;
}