.sns-container {
	margin-bottom: 50px;
	border-bottom: 1px solid $snsBorderColor;

	padding-bottom: 10px;
}

.sns {
	@include column-count(3);
	@include column-gap(20px);

	margin-bottom: 20px;
	line-height: 1.2em;

	.sns-icon {
		@include border-radius();
		background-color: $white;
		line-height: 1.5em;
		padding-top: 3px;
		width: 27px;
		text-align: center;
		display: inline-block;
	}

	.column {
		@include column-break(inside, avoid);
 		@include display-flex;
    	@include flex-wrap(wrap);

		margin-bottom: 0;
		width: auto;
		
	}
	
	.card {
		@include flex(1);
		padding: 10px 16px;
	}

	.sns-count {
		color: $snsCountTextColor;
		width: 80px;
		text-align: center;
		line-height: 2.5em;
		border-top: 1px solid $gray3;
		border-bottom: 1px solid $gray3;
		border-right: 1px solid $gray3;
	}

	.title {
		@extend .font-bold;
		font-size: $snsFontSize;
		color: $white;
		line-height: 1.6em;
	}
}

	.facebook {
		background-color: $iconFacebookColor-hover;
		&.invert {
			color: $white;
			.figure {
				color: $white;
			}
		}
		.figure {
			color: $iconFacebookColor-hover;
		}
	}

	.twitter {
		background-color: $iconTwitterColor-hover;
		.figure {
			color: $iconTwitterColor-hover;
		}
	}

	.pinterest {
		background-color: $iconPinterestColor-hover;
		.figure {
			color: $iconPinterestColor-hover;
		}
	}

.sns-fb-widget {
	@extend .font-secondary;
	@extend .font-bolder;
	@extend .small;
	@include column-count(2);

	line-height: 1.5em;
	color: $snsTextColor;
}

.sns-modal {
	>iframe,
	> div,
	> a {
		@extend .left;
		margin-left: 20px;
		margin-right: 20px;
	}
}