.subscribe {
	@extend %defaultMarginButtom;
	padding-left: 30px;
	padding-right: 30px;

	.subscribe-form {
		@extend .flex-container;
		margin-top: 20px;

		input {
			@include flex(1);

			border: none;			
			text-transform: uppercase;

			&[type="email"] {
				// background-color: $subscribeTextBoxBackgroundColor;
				margin-right: 5px;
			}

			&[type="submit"] {
				@include flex(0 1 auto);
			}
		}

	}
}
