.survey {
	border-top: 1px solid $gray5;	
	padding-top: 20px;
	margin-top: 50px;
}

.questions {
	@extend %defaultMarginButtom;
}

.choice {
	@include transition-duration($headlineTransitionDuration);
	@extend %defaultMarginButtom;
	@extend .align-center;

	background-color: $surveyChoicesBackgroundColor;
	cursor: pointer;
	padding: 10px;
	
	&:hover {
		background-color: $surveyChoicesBackgroundColor-hover;
		color: $surveyChoicesTextColor-hover;
	}
	&.choice-selected {
		background-color: $surveyChoicesBackgroundColor-selected;
		color: $surveyChoicesTextColor-selected;
	}
}

/*** RESULTS ***/
.results {
	@extend .font-secondary;
	border: $surveyResultsBoxBorder;
	padding: $surveyResultsPadding;
}

.results-label {
	@extend %defaultMarginButtom-small;
	@extend .font-primary;
	@extend .font-bold;

	font-size: $surveyLabelFontSize;
}
.results-answer {
	@extend %defaultMarginButtom-small;
	@extend .font-primary;
	@extend .font-bold;

	font-size: $surveyAnswerFontSize;
	color: $surveyAnswerFontColor;
}

.results-score {
	@extend %defaultMarginButtom-small;
}

.results-percentScore {
	@extend .font-special1;
	@extend .hero;
	@extend .font-bold;
}

.results-item {	
	@extend %defaultMarginButtom;
}

.results-bar {
	background-color: $surveyResultsBarBackgroundColor;
	margin-bottom: 10px;

	.results-percent {
		@extend .font-bold;
		@extend .align-center;
		
		background-color: $surveyResultsBarPercentageBackgroundColor;
		color: $surveyResultsBarPercentageTextColor;
		line-height: 1.5em;
	}
}