.widget {
	@extend %defaultMarginButtom;

	.title {
		@extend .font-normal;
		font-size: inherit;
		margin-bottom: 8px;
	}
	.views {
		@extend .small;
		@extend .font-italic;
		color: $wigetFooterViewsTextColor;
	}
}

.widget-wide {

	background-color: $backgroundSeparatorColor;
	padding-top: $defaultSectionMargin;
	padding-bottom: $defaultSectionMargin;

	.widget-label {
		@extend .font-secondary;
		@extend .font-thin;
		@extend .hero;
		margin-bottom: 20px;
	}
	.widget-content {
		@include column-count(5);
		@include column-gap(20px);
	}
}


aside {
	.widget-label {
		@extend .label;
		text-align: center;
		border-top: 1px solid $gray5;
		border-left: 5px solid $black;
		border-right: 5px solid $black;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;

		&:after, &:before {
			content: ' ';
			position: absolute;
			border-style: solid;
			border-width: 15px 50px;
			left: 50%;
			margin-left: -50px;
		}

		&:after {
			border-color: $gray5 transparent transparent transparent;
			top: 100%;
		}

		&:before {
			border-color: $white transparent transparent transparent;
			top: 99%;
			z-index: 1;
		}
	}


	.widget-content {
		margin-left: 20px;
		margin-right: 20px;

		.card {
			padding-top: 26px;
			padding-bottom: 32px;
		}
	}
}
